{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block body %}


<main class="form-signin text-center">
    <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
      <img class="mb-4" src="{{ asset('assets/images/logoSAFER.png') }}" alt=""  height="120">
      {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
      <h1 class="h3 mb-3 fw-normal">Veuillez vous connecter</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value="{{ last_username }}" autocomplete="email" name="email" required autofocus>
        <label for="floatingInput" >Email</label>
      </div>
     
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Passwords" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
 >
      </div>
      <button class="w-100 btn btn-lg nous-success mt-4" type="submit">Se connecter</button>
    </form>
  </main>
{% endblock %}
